Documentation:
  CommentFormat: Doxygen

CompileFlags:
  CompilationDatabase: .
  BuiltinHeaders: Clangd
  Remove:
    - -march=*
  Add:
    - -stdlib=libc++
---
If:
  PathMatch: .*\.(h|hpp)$
CompileFlags:
  Add: [-xc++]
