BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4

AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: OnePerLine
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
DerivePointerAlignment: false
InsertBraces: true
NamespaceIndentation: All
PackConstructorInitializers: NextLine
PointerAlignment: Left
ReflowComments: true
SpaceAfterCStyleCast: true
# Header include ordering
#   1. C system headers      (<stdint.h>, <string.h>)
#   2. C++ standard library  (<cstdint>, <vector>, <algorithm>)
#   3. Third-party libraries (Arduino, third-party)
#   4. Local project headers (local)
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<(assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|threads|time|uchar|wchar|wctype|unistd|fcntl|dirent|pthread|sched|semaphore|sys/.+|netinet/.+|arpa/.+)\.h>$'
    Priority: 1
  - Regex: '^<[[:alpha:]_]+>$'
    Priority: 2
  - Regex: '^<.+\.h>$'
    Priority: 3
  - Regex: '.*'
    Priority: 4
